@model ApplicationUser

@{
    ViewData["Title"] = "Account Regist";
}

<div class="text-center">
    <h1 class="display-4">Add New Account</h1>
    <form class="form form-horizontal" method="POST">
        <!--
            서버에서 생성 된 에러 메시지 표시
        -->
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <div class="col-md-3">
                <label asp-for="Email">Email : </label>
                <input type="text" class="form-control" asp-for="Email">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label asp-for="FullName">FullName : </label>
                <input type="text" class="form-control" asp-for="FullName">
                <span class="text-danger" asp-validation-for="FullName"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label asp-for="Gender">Gender : </label>
                <input type="text" class="form-control" asp-for="Gender">
                <span class="text-danger" asp-validation-for="Gender"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label asp-for="Password">Password : </label>
                <input type="text" class="form-control" asp-for="Password">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label asp-for="ConfirmPassword">Confirm Password : </label>
                <input type="text" class="form-control" asp-for="ConfirmPassword">
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>